@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 530px){
    

/*configuração cabeçalho*/
header {
    position: fixed;
    width: 100%;
    height: 50px;
}
/*Configuração logomarca*/
#alinhamentoesquerda{
    float: left;
}

#logotipo_nobre {
    display: block;
    background-image: url('../imagens/logo_cestasnobre_70x55.png');
    width: 70px;
    height: 55px;
}

#cx_slogan h1 {
    display: none;
}

/*Configuração do menu*/
.alinhamentodireita {
    float: right;
    width: 100%;

}

#icone_menu_resp {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #F28705;
    border: 2px 2px 2px 2px black;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.466);
    border-radius: 4px;
    padding: 0px;
    margin: -70px 20px 0px 0px;
    background-position: 50% 50%;
}

/*Configuração menu escondido*/
#cx_nav {
    display: none;
}

.navegacaotopo {
    width: 100%;
    margin-top: -25px;
    background-color: #fc9bb3;
    padding-bottom: 20px;
}

.navegacaotopo li {
    float: none;
    display: block;
} 

header li a{
    display: block;
    text-decoration: none;
    padding: 10px 7px 10px 7px;
    margin: 5px 0px 0px 0px;
    text-align: center; 
    font-size: 18pt;
    font-weight: 800;  
    color: black; 
    width: 100%;
}
header li a:hover {
    background-image: none;
    background-color: #cc0101;
    width: 100%;
    display: block;
    background-size: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: auto;
    border-radius: 0px;
}

/*Configuração do corpo do site*/
main {
    max-width: 100%;
    margin-top: 60px;
}
#caixa_transicao {
    display: block;
    width: 100%;
    height: 320px;
}
#moldura {
    height: 320px;
    width: 100%;
}

/*Configuração conversa com cliente responsivo*/
#conversa_cliente {
    height: 500px;
}

#caixa_de_texto p {
    font-size: 12pt;
}

/*caixas dos kits responsivos*/
#coelhofeliz {
    height: 600px;
}
#humildade {
    height: 450px;
}
#simplicidade{
    height: 450px;
}
#surpresinha {
    height: 380px;
} 
header h1 {
    font-size: 17px;
    line-height: 30px;
}

/*configuração da area de contato*/
#mensagem_lateral {
    width: 300px;
    background-color: #ebd5d5de;
}

#mensagem_lateral p {
    padding: 5px;
    text-align: justify;
    text-indent: 10px;
}
}