@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
 

/*configuração cabeçalho*/
header {
    position: fixed;
    width: 100%;
    height: 50px;
}
/*Configuração logomarca*/
#alinhamentoesquerda{
    float: left;
}

#logotipo_nobre {
    display: block;
    background-image: url('../imagens/logo_cestasnobre_70x55.png');
    width: 70px;
    height: 55px;
}

#cx_slogan h1 {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Configuração do menu*/
.alinhamentodireita {
    float: right;
}

.navegacaotopo, .navegacaotopo li {
    width: auto;
    float: left;
    display: block;
    position: relative;
}

header ul {
    padding: 15px 10px 0 0;
    margin: 0px 15px 0px 0px;
}

header li a {
    display: block;
    padding: 0 10px;
    color: #1100fa;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    text-shadow: 1px 1px 1px white;
}

header li a:hover {
    background-color: #6c0be393;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
}

/*Configuração menu escondido*/
#icone_menu_resp {
    display: none;
}

/*Configuração do corpo do site*/
main {
    max-width: 100%;
    margin-top: 60px;
}
#caixa_transicao {
    display: block;
    width: 100%;
    height: 570px;
    background-image: url('../imagens/fundo_slide_820x560.jpg');
}

#moldura {
    display: block;
    width: 90%;
    height: 550px;
    background-color: #5e5b5b;
    transition: background-image 2s;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Configuração conversa com cliente responsivo*/

#caixa_de_texto p {
    font-size: 20pt;
    text-indent: 30px;
    text-align: justify;
}

/*caixas dos kits responsivos*/
#coelhofeliz {
    height: 600px;
}
#humildade {
    height: 450px;
}
#simplicidade{
    height: 450px;
}
#surpresinha {
    height: 380px;
} 
header h1 {
    font-size: 17px;
    line-height: 30px;
}

/*configuração da area de contato*/
#mensagem_lateral {
    width: 30%;
    background-color: #ebd5d5de;
}

#mensagem_lateral p {
    padding: 5px;
    text-align: justify;
    text-indent: 10px;
}