@charset "UTF-8";

:root {
    --vp_slider: ;
    --ct_cliente: ;
    --ct_lt: ;
    --msg_lt: ;
}

*{
margin: 0px;
padding: 0px;
}

/* --Configuração corpo do site completo-- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #07adff;
}

/* --Configuração Cabeçalho do site--*/

.navegacaotopo, .navegacaotopo li {
    width: auto;
    float: left;
    display: block;
    position: relative;
}

.alinhamentoesquerda {
    float: left;
    color: black;
    text-shadow: 0px 0px 0px;
}

.alinhamentodireita {
    float: right;
}

header {
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 3px solid #07adff;
    z-index: 2;
    background-image: linear-gradient(to bottom, #1100fa, #07adff);
}

header h1 {
    padding: 10px 0 0 10px;
}

header ul {
    padding: 15px 10px 0 0;
}

header li a {
    display: block;
    padding: 0 10px;
    color: #1100fa;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    text-shadow: 1px 1px 1px white;
}

header li a:hover {
    background-color: #6c0be393;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input#controle-navegacao {
    visibility: hidden; 
    position: absolute;
    opacity: 0;
}

main{
    display: block;
    max-width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}

@media only screen and (max-width: 600px){
   
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 180px;
        border-left: 3px solid #07adff;
        background-color: #07adff;
        overflow: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
    }

    header ul.navegacaotopo {
        padding: 0;

    }

    header ul.navegacaotopo li {
        width: 100%;
        height: 60px;
    }

    .navegacaotopo li:hover a{
        background-color: #6c0be393;
        font-size: 40px;
        padding: 15px;
    }

    /*Icone de navegação*/
    .controle-navegacao {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    .controle-navegacao:before {
        content: "";
        display: block;
        height: 3px;
        background-color: #333;
    }

    .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
    }

    input#controle-navegacao {
        display: block;
    }

    input#controle-navegacao:focus ~ .controle-navegacao {
        border-color: #000;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    } 

    input#control-nav:focus ~ .control-nav:before {
		background: #000;
	}

    input#controle-navegacao:checked ~ nav, input#controle-navegacao:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
    }



    input:checked {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        -webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
    }
    
    /*main responsivo*/
    main{
        max-width: 100%;
    }

    /*caixas dos kits responsivos*/
    #coelhofeliz {
        height: 580px;
    }
    #humildade {
        height: 430px;
    }
    #simplicidade{
        height: 430px;
    }
    #surpresinha {
        height: 380px;
    } 

    @media  screen and(max-width: 480px) {
        header h1 {
            font-size: 15px;
            line-height: 40px;
        }

    }    
}



#caixa_transicao {
    display: block;
    width: 100%;
    height: var(--vp_slider);
    background-image: url('../imagens/fundo_slide_820x560.jpg');
}

#moldura {
    display: block;
    width: 70%;
    height: 85%;
    background-color: #cecece;
    transition: background-image 2s;
    margin: auto;
    background-position: center center;

}

#moldura img{
    opacity: 0;
}

#conversa_cliente {
    display: block;
    background-image: url("../imagens/imagem_fundo_relacionamento_cliente_820x1200.jpg");
    background-position: right center;
    width: 100%;
    height: 450px;
}

.erro_img{
    background-color: rgb(51, 51, 51);
    color: black;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

#caixa_de_texto {
    display: block;
    width: var(--ct_cliente);
    height: 100%;
    background-color: #ffffffb9;
    overflow: hidden;
}

#caixa_de_texto > p {
    text-align: justify;
    padding: 30px;
    font-size: var(--ct_lt);
}

#moldura_kits_pascoa {
    background-image: linear-gradient(to bottom, #d10dfb, #0b4ce3);
    
}

#kits {
    padding: 20px;
}

.kits_pascoa {
    display: inline-block;
    height: 560px;
    background-color: rgba(255, 255, 255, 0.514);
    width: 300px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.322);
}

.kits_pascoa h3 {
    padding: 10px;
}

.kits_pascoa h4 {
    padding: 10px;
}

.kits_pascoa p {
    text-align: left;
    padding: 5px;
    font-size: 0.8em;
}

#meios_contato {
    display: block;
    width: 100%;
    
}

#meios_contato h2 {
    padding: 30px;
}

#mensagem_lateral {
    display: inline-block;
    width: var(--msg_lt);
    overflow: hidden;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.473);
    margin: 10%;
}

#links_contato {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}

#links_contato h3 {
    padding: 20px;
}

.img_contato {
    padding: 15px;
    margin-left: 20px;
    text-align: justify;
    
}

#rodape {
    display: block;
    background-image: linear-gradient(to top, violet, white);
    height: 100px;
    text-align: center;
    padding: 25px;
    
}

#rodape a {
    text-decoration: none;
    color: black;
}

#rodape a:hover {
    background-color: #cf0dfb63;
    border-radius: 4px;
    padding: 5px;
    text-decoration: underline;
}
