@charset "UTF-8";

:root {
    --vp_slider: ;
    --ct_cliente: ;
    --ct_lt: ;
    --caixa_pr: ;
    --msg_lt: ;
}

*{
margin: 0px;
padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #07adff;
}

header {
    background-image: linear-gradient(to bottom, #1100fa, #07adff);
    text-align: center;
    padding: 20px;
    height: 80px;
}

.topnav {
    display: block;
    position: fixed;
    right: 0px;
    top: 1%;
}

ul.topnav li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
    float: left;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #07adff;
    color: #1100fa;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.486);
}

header a:hover {
    background-color: #6c0be393;
    color: white;
    font-weight: bold;
}

header h1{
    margin-top: 20px;
    font-variant: small-caps;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
    ul.topnav li {display: none;}
    ul.topnav li.icon {
  float: right;/*O ícone será exibido ao lado direito*/
  display: inline-block;
    }
}

ul.topnav.responsive {
    display: block;
    width: 98vw;
    background-color: #cecece;
}

ul.topnav.responsive li{
    display: block;
    width: 98vw;
}
ul.topnav.responsive li a{
    display: block;
    width: 98vw;
    background-color: #cecece;box-shadow: none;
}

main{
    display: block;
    max-width: var(--caixa_pr);
    background-color: white;
    text-align: center;
    margin: auto;
}

#caixa_transicao {
    display: block;
    width: 100%;
    height: var(--vp_slider);
    background-image: url('../imagens/fundo_slide_820x560.jpg');
}

#moldura {
    display: block;
    width: 70%;
    height: 85%;
    background-color: #cecece;
    transition: background-image 2s;
    margin: auto;
    background-position: center center;

}

#moldura img{
    opacity: 0;
}

#conversa_cliente {
    display: block;
    background-image: url("../imagens/imagem_fundo_relacionamento_cliente_820x1200.jpg");
    background-position: right center;
    width: 100%;
    height: 450px;
}

.erro_img{
    background-color: rgb(51, 51, 51);
    color: black;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

#caixa_de_texto {
    display: block;
    width: var(--ct_cliente);
    height: 100%;
    background-color: #ffffff98;
    overflow: hidden;
}

#caixa_de_texto > p {
    text-align: justify;
    padding: 30px;
    font-size: var(--ct_lt);
}

#moldura_kits_pascoa {
    background-image: linear-gradient(to bottom, #d10dfb, #0b4ce3);
    
}

#kits {
    padding: 20px;
}

.kits_pascoa {
    display: inline-block;
    height: 560px;
    background-color: rgba(255, 255, 255, 0.514);
    width: 300px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.322);
}

.kits_pascoa h3 {
    padding: 10px;
}

.kits_pascoa h4 {
    padding: 10px;
}

.kits_pascoa p {
    text-align: left;
    padding: 5px;
    font-size: 0.8em;
}

#meios_contato {
    display: block;
    width: 100%;
    
}

#meios_contato h2 {
    padding: 30px;
}

#mensagem_lateral {
    display: inline-block;
    width: var(--msg_lt);
    overflow: hidden;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.473);
    margin: 10%;
}

#links_contato {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}

#links_contato h3 {
    padding: 20px;
}

.img_contato {
    padding: 15px;
    margin-left: 20px;
    text-align: justify;
    
}

#rodape {
    display: block;
    background-image: linear-gradient(to top, violet, white);
    height: 100px;
    text-align: center;
    padding: 25px;
    
}

#rodape a {
    text-decoration: none;
    color: black;
}

#rodape a:hover {
    background-color: #cf0dfb63;
    border-radius: 4px;
    padding: 5px;
    text-decoration: underline;
}
